<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gMaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6038F34A1D52F1C400E69954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6038F3631D52F1C400E69954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6038F36E1D52F1C400E69954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
